In [6]:
import pandas as pd

'''
The following code is to help you play with the concept of Series in Pandas.

You can think of Series as an one-dimensional object that is similar to
an array, list, or column in a database. By default, it will assign an
index label to each item in the Series ranging from 0 to N, where N is
the number of items in the Series minus one.

Please feel free to play around with the concept of Series and see what it does

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to create a Series object
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
    print(series)
    print("---------------------------------------------")

'''
You can also manually assign indices to the items in the Series when
creating the series
'''

# Change False to True to see custom index in action
if True:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print(series)
    print("---------------------------------------------")

'''
You can use index to select specific items from the Series
'''
# Change False to True to see Series indexing in action
if (True):
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print(series['Instructor'])
    print("------------------------------------")
    print(series[['Instructor', 'Curriculum Manager', 'Course Number']])
    print("------------------------------------")
'''
You can also use boolean operators to select specific items from the Series
'''
# Change False to True to see boolean indexing in action
if True:
    cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
    print(cuteness > 3)
    print("------------------------------------")
    print(cuteness[cuteness > 3])

0           Dave
1      Cheng-Han
2        Udacity
3             42
4    -1789710578
dtype: object
---------------------------------------------
Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object
---------------------------------------------
Dave
------------------------------------
Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
dtype: object
------------------------------------
Cockroach    False
Fish         False
Mini Pig      True
Puppy         True
Kitten        True
dtype: bool
------------------------------------
Puppy     4
Kitten    5
dtype: int64

In [8]:
import numpy as np
import pandas as pd


# Change False to True to see Dataframes in action
if False:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(foot)

    
    
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football.dtypes)
    print("")
    print(football.describe())
    print("")
    print(football.head())
    print("")
    print(football.tail())

year       int64
team      object
wins       int64
losses     int64
dtype: object

              year       wins     losses
count     8.000000   8.000000   8.000000
mean   2011.125000   9.375000   6.625000
std       0.834523   3.377975   3.377975
min    2010.000000   4.000000   1.000000
25%    2010.750000   7.500000   5.000000
50%    2011.000000  10.000000   6.000000
75%    2012.000000  11.000000   8.500000
max    2012.000000  15.000000  12.000000

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [55]:
from pandas import *
import numpy as np

countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]


data_dict = {'country_name': countries,
             'gold': gold,
             'silver': silver,
             'bronze': bronze}

olympic = DataFrame(data_dict);

#olympic[(olympic.gold > 0) | (olympic.silver > 0) | (olympic.gold > 0)][['bronze', 'silver', 'gold']].apply(np.mean)
medals = olympic[['gold', 'silver', 'bronze']]

points = np.dot(medals, np.array([4,2,1]))

DataFrame({'country': Series(countries), ''})

array([83, 64, 65, 62, 55, 49, 32, 21, 37, 31, 19, 22, 20, 28, 18, 16, 15,
       11,  8,  5,  4, 10,  6,  5,  2,  1], dtype=int64)

In [7]:
import pandas as pd

# Change False to True to see Series indexing in action
if False:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football)
    print('----------------------------')
    print(football['year'])
    print('----------------------------')
    print(football.year)  # shorthand for football['year']
    print('----------------------------')
    print (football[['year', 'wins', 'losses']])


# Change False to True to see boolean indexing in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
#     print (football.iloc[[0]])
#     print('----------------------------')
#     print (football.loc[[0]])
#     print('----------------------------')
    print (football[3:5])
    print('----------------------------')
    print (football[football.wins > 10])
    print('----------------------------')
    print (football[(football.wins > 10) & (football.team == "Packers")])

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5
----------------------------
   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5
----------------------------
   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5

In [23]:
football['wins'].map(lambda wins: wins >= 5)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
Name: wins, dtype: bool

In [24]:
football[['wins', 'losses']].applymap(lambda x: x>= 5)

    wins  losses
0   True    True
1   True    True
2   True    True
3   True   False
4   True    True
5   True    True
6   True    True
7  False    True